
.advantages {
  background: url("../img/desk-features.png") no-repeat center;
  background-color: $hawkes-blue;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/desk-features@2x.png");
    background-size: cover;
  }


  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    background: url("../img/tablet-features.png") no-repeat center;
    background-color: $hawkes-blue;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet-features@2x.png");
      background-size: cover;
    }
  }

  @media (max-width: $vp-767) {
    margin-top: -68px;
    background: url("../img/mobile-features.png") no-repeat center;
    background-color: $hawkes-blue;
    background-size: cover;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile-features@2x.png");
      background-size: cover;
    }
  }
}

.advantages__container {
  max-width: 1300px;
  margin: 0 auto;
}

.advantages__title-wrapper {
  text-align: center;
  padding-top: 110px;
  padding-left: 0;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-top: 90px;
    padding-left: 0;
  }

  @media (max-width: $vp-767) {
    padding-top: 18%;
    padding-left: 0;
  }
}

.advantages__title-wrapper h2 {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
    padding-left: 9px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 36px;
    padding-left: 0;
  }
}

.advantages__list-wrapper {
  display: flex;
  justify-content: center;
  padding: 49px 49px 121px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding: 49px 30px 101px;
  }

  @media (max-width: $vp-767) {
    padding: 9% 15px 10.5%;
  }
}
