.catalog {
  background-color: $alice-blue;
}

.catalog__title-wrapper {
  text-align: center;
  padding-top: 109px;

  @media (min-width: $vp-768) and (max-width: $vp-1279) {
    padding-top: 90px;
    padding-left: 8px;
  }

  @media (max-width: $vp-767) {
    padding-top: 56px;
  }
}

.catalog__title-wrapper h2 {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;

  @media (min-width: $vp-768) and (max-width: $vp-1279) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 36px;
  }
}

.catalog__list-wrapper {
  padding-top: 50px;
  padding-bottom: 112px;

  @media (min-width: $vp-768) and (max-width: $vp-1279) {
    padding-bottom: 99px;
    padding-left: 7px;
  }

  @media (max-width: $vp-767) {
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 130px;
  }
}
