.catalog {
  background-color: $alice-blue;
}

.catalog__title-wrapper {
  text-align: center;
  padding-top: 109px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-top: 90px;
    padding-left: 8px;
  }

  @media (max-width: $vp-767) {
    padding-top: 54px;
  }
}

.catalog__title-wrapper h2 {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  padding-left: 17px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 36px;
    padding-left: 0;
  }
}

.catalog__list-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 4% 118px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-bottom: 96px;
    padding-left: 7px;
  }

  @media (max-width: $vp-767) {
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 130px;
  }
}
