.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: center;
  }
}

.features-list__item {
  padding: 0;
  background-color: $alice-blue;
  width: 30%;
  margin-left: 0;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    width: 29%;
    margin-left: 11px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

.features-list__item-container {
  padding: 23% 8% 6% 8%;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding: 34% 0 9% 8%;
  }

  @media (max-width: $vp-767) {
    padding: 24% 6% 7% 6%;
  }
}

.features-list__item h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 32px;
    top: -53px;
    left: -13px;
    box-sizing: border-box;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    &::before {
      width: 39px;
      height: 26px;
      top: -45px;
      left: -8px;
    }
  }

  @media (max-width: $vp-767) {
    &::before {
      width: 49px;
      height: 26px;
      top: -44px;
      left: -13px;
    }
  }
}

.features-list__item--ship h3 {
  &::before {
    background: url("../img/svg/feaures-ship.svg") no-repeat center;
    background-size: contain;
    box-sizing: border-box;
  }

  @media (max-width: $vp-767) {
    padding-right: 21%;
  }
}

.features-list__item--allin h3 {
  &::before {
    width: 38px;
    height: 21px;
    top: -48px;
    left: 0;
    background: url("../img/svg/features-checked.svg") no-repeat center;
    background-size: contain;
    box-sizing: border-box;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    &::before {
      width: 35px;
      height: 22px;
      top: -43px;
      left: 0;
    }
  }

  @media (max-width: $vp-767) {
    padding-right: 15%;

    &::before {
      width: 34px;
      height: 23px;
      top: -43px;
      left: 0;
    }
  }
}

.features-list__item--zodiac h3 {
  &::before {
    width: 41px;
    height: 21px;
    top: -48px;
    left: 0;
    background: url("../img/svg/features-boat.svg") no-repeat center;
    background-size: contain;
    box-sizing: border-box;
  }

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    &::before {
      width: 38px;
      height: 25px;
      top: -45px;
      left: 0;
    }
  }

  @media (max-width: $vp-767) {
    padding-right: 22%;

    &::before {
      width: 38px;
      height: 19px;
      top: -42px;
      left: 0;
    }
  }
}

.features-list__item p {
  margin: 0;
  padding: 9px 0 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding: 4% 11% 0 0;
  }

  @media (max-width: $vp-767) {
    padding-top: 3%;
  }
}

.features-list__item--allin p {
  padding-right: 6%;

  @media (max-width: $vp-767) {
    padding: 4% 11% 0 0;
  }
}

.features-list__item--zodiac p {
  padding-right: 20%;

  @media (max-width: $vp-1279) {
    padding-right: 4%;
  }
}

.features-list__item--allin br {
  display: none;

  @media (max-width: $vp-1279) {
    display: inline;
  }
}

.features-list__item--zodiac br:nth-of-type(2n) {
  display: none;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    display: none;
  }

  @media (max-width: $vp-767) {
    display: inline;
  }
}

.features-list__item--zodiac br:nth-of-type(2n+1) {
  display: inline;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    display: none;
  }

  @media (max-width: $vp-767) {
    display: inline;
  }
}

.features-list__item--ship br {
  display: none;

  @media (max-width: $vp-767) {
    display: inline;
  }
}
