.footer {
  background-color: $tangaroa;
  box-sizing: border-box;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 43px;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 34px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-top: 33px;
    padding-bottom: 40px;
    padding-right: 33px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    padding: 24px 16px 0 2px;
  }
}


.footer__wrapper {
  display: flex;
  gap: 41px;
  padding-left: 71px;
  align-items: center;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-left: 16px;
    gap: 27px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    align-items: baseline;
    padding-left: 13px;
    gap: 0;
  }
}

.footer__logo {
  fill: $alice-blue;
  width: 71px;
  height: 53px;
  cursor: pointer;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    width: 40px;
    height: 40px;
    padding-top: 7px;
  }

  @media (max-width: $vp-767) {
    width: 46px;
    height: 50px;
  }
}

.footer__social {
  display: flex;
  align-items: center;
  padding-right: 0;
}
