.main-nav {
  // width: 100%;

  @media (max-width: $vp-767) {
    z-index: -1;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $vp-767) {
    display: inline;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 24px;
    z-index: 10;
    right: 11px;
    top: 19px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}

[data-nav].is-closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    left: 7px;
    width: 23px;
    height: 2px;
    background-color: $alice-blue;
    box-shadow: 0 6px 0 0 $alice-blue, 0 12px 0 0 $alice-blue;
    border-radius: 2px;
  }
}

[data-nav].is-open .main-nav__toggle {
  top: 10px;
  min-height: 41px;
  right: 3px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 9px;
    width: 18px;
    height: 2px;
    background-color: $tangaroa;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__wrapper {
  z-index: 10;
  position: relative;
  padding-top: 45px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-top: 30px;
  }

  @media (max-width: $vp-767) {
    position: absolute;
    background-color: rgba(0, 43, 102, 0.5);
    top: -144px;
    width: 100%;
    right: 0;
    z-index: -1;
  }
}

[data-nav].is-closed .main-nav__wrapper {
  @media (max-width: $vp-767) {
    display: none;
  }
}

[data-nav].is-closed .main-nav__logo {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.main-nav__logo {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    position: absolute;
    left: 16%;
  }
}
