
.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;

  @media (min-width: $vp-768) and (max-width: $vp-1279) {
    padding-top: 22px;
    padding-left: 40px;
    padding-right: 43px;
    gap: 47px;
  }

  @media (max-width: $vp-767) {
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 10px;
    position: relative;
    z-index: 100;
  }
}

.page-header__logo {
  @media (max-width: $vp-767) {
    opacity: 0;
  }
}

[data-header].is-closed .page-header__logo {
  @media (max-width: $vp-767) {
    opacity: 1;
  }
}

[data-header].is-open .page-header__logo {
  @media (max-width: $vp-767) {
    opacity: 0;
  }
}
