.page {
  scroll-behavior: smooth;
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $tangaroa;
  height: 100%;
}

[data-body].is-hidden {
  @media (max-width: $vp-767) {
    overflow-y: hidden;
  }
}

.page__body-wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
