.page-header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 39px;
  padding-right: 39px;
  min-height: 130px;


  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-left: 27px;
    padding-right: 27px;
  }

  @media (max-width: $vp-767) {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 10;
  }
}

.page-header--no-js [data-nav] {
  z-index: auto;
}

.page-header--no-js .page-header__container {
  @media (max-width: $vp-767) {
    padding: 0;
    justify-content: center;
    flex-direction: column;
    background-color: $alice-blue;
  }
}

.page-header--no-js svg {
  @media (max-width: $vp-767) {
    fill: $tangaroa;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.page-header__logo {
  margin-top: 14px;
  z-index: 10;
  font-size: 0;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    margin-top: 3px;
  }

  @media (max-width: $vp-767) {
    margin-top: 0;
    opacity: 0;
  }
}

.page-header--no-js .page-header__logo {
  @media (max-width: $vp-767) {
    opacity: 1;
  }
}

[data-header].is-closed .page-header__logo {
  @media (max-width: $vp-767) {
    opacity: 1;
  }
}

[data-header].is-open .page-header__logo {
  @media (max-width: $vp-767) {
    opacity: 0;
  }
}
