
.promo {
  background-color: $alice-blue;
}

.promo__title-container {
  @media (min-width: $vp-1024) {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("../img/back-desktop.png") no-repeat center;
    background-color: $prussian-blue;
    background-size: cover;
    box-shadow: $shadow;
    margin-top: -138px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
      background-size: cover;
    }
  }

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    margin-top: -131px;
    background: url("../img/back-tablet.png") no-repeat center;
    background-color: $prussian-blue;
    background-size: cover;
    box-shadow: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
      background-size: cover;
    }
  }

  @media (max-width: $vp-767) {
    margin-top: -169px;
    background: url("../img/back-mobile.png") no-repeat center;
    background-color: $prussian-blue;
    background-size: cover;
    box-shadow: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-mobile@2x.png");
      background-size: 100%, cover;
    }
  }
}

.promo__title-wrapper {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 279px 341px 20.4% 7px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    width: 87%;
    padding: 269px 0 274px;
  }

  @media (max-width: $vp-767) {
    padding: 196px 0 175px 15px;
  }
}

[data-promo].is-hidden .promo__title-wrapper {
  @media (max-width: $vp-767) {
    opacity: 0;
  }
}

[data-promo].is-hidden .promo__description-container {
  @media (max-width: $vp-767) {
    opacity: 0;
  }
}

.promo__title-wrapper p {
  padding-top: 11px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-top: 13px;
  }

  @media (max-width: $vp-767) {
    padding-top: 6px;
  }
}

.promo__title {
  font-size: 54px;
  font-weight: 700;
  line-height: 66px;
  margin: 0;
  color: $alice-blue;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 125%;
    min-height: 94px;
  }
}

.promo__title br {
  display: none;

  @media (max-width: $vp-450) {
    display: inline;
  }
}

.promo__slogan {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $alice-blue;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
    line-height: 140%;
    min-height: 47px;
  }
}

.promo__slogan br {
  display: none;

  @media (max-width: $vp-450) {
    display: inline;
  }
}

.promo__description-container {
  display: flex;
  justify-content: space-between;
  max-width: 1209px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 119px;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    padding-top: 80px;
    padding-bottom: 12.2%;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    padding: 57px 15px 133px;
  }
}

.promo__description-wrapper {
  display: flex;
  flex-direction: column;
  width: 536px;
  padding-top: 55px;
  padding-left: 24px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    width: 44%;
    padding-top: 11px;
    padding-left: 29px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
  }
}

.promo__description-title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    font-size: 26px;
    line-height: 140%;
  }

  @media (max-width: $vp-767) {
    font-size: 24px;
    line-height: 140%;
  }
}

.promo__description-title br {
  display: none;

  @media (max-width: $vp-1023) {
    display: inline;
  }

  @media (max-width: $vp-767) {
    display: inline;
  }
}

.promo__description-brake--text {
  display: inline;

  @media (max-width: $vp-767) {
    display: none;
  }

  @media (min-width: $vp-1023) {
    display: none;
  }
}

.promo__description-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 24px;

  @media (max-width: $vp-1023) {
    padding-top: 15px;
  }

  @media (max-width: $vp-767) {
    line-height: 150%;
    padding-top: 16px;
  }
}

.promo__description-image {
  width: 560px;
  padding-right: 25px;

  @media (max-width: $vp-1023) {
    width: 45%;
    padding-top: 20px;
    padding-right: 19px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding-top: 33px;
    padding-left: 0;
    padding-right: 0;
  }
}

.promo__description-image img {
  display: block;
  max-width: 100%;
  height: auto;

  @media (max-width: $vp-767) {
    width: 100%;
  }
}
