.social-list {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 26px;
  padding: 8px 54px 0 0;

  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    gap: 20px;
    padding: 9px 10px 0 0;
  }

  @media (max-width: $vp-767) {
    gap: 20px;
    padding: 24px 11px 36px;
  }
}

.social__item svg {
  @media (min-width: $vp-768) and (max-width: $vp-1023) {
    width: 16px;
    height: 16px;
  }

  @media (max-width: $vp-767) {
    width: 16px;
    height: 16px;
  }
}

.social__link svg {
  fill: $alice-blue;
}

.social__link svg:hover {
  fill: $iron;
  transform: scale(1.2);
}

.social__link:focus {
  fill: $iron;
  transform: scale(1.2);
}

.social__link:active {
  fill: $quartz;
}
